<nav><a href="sign-up">Sign Up</a></nav>

<div class="container" >
    <table>
        <div class="form">
            <h1>Sign in</h1>
            <form action="/" method="post">
                <tr><input type="text" name="username" placeholder="Your Name"></tr>
                <tr><input type="password" name="password" placeholder="Password"></tr>
                <input type="submit" value="go">
            </form>
        </table>
    </div>
</div>


