

<nav>
<h1>The <strong>ALIEN</strong> Forum</h1>  
</nav>
<a href="/post/:id">Delete Comment</a>


<% @intro.each do |intro| %> 
<p>Title: <%= intro.title  %> </p> <br>
<p>Content:  <%= intro.content %> </p> <hr>
<% end  %>

 
