
 <nav><a href="/intro">Create Post</a> <a class="right align" href="/users">User List</a></nav>
 <header><p><h1>You are signed in</h1> 


  <ul>
    <nav>  Welcome Back <%= @user.username %> we've missed you!.</nav>
    <a href="/delete">Delete Profile</a>
    
    <hr>
<div class="row">
    <div class="col s3">
        
    <header> <p> Your Post </p> </header>

  
     <% @intro.each do |intro| %>
        <div class="box">
          Title:
          <p> <%= intro.title %> <br> </p> 
          Content:
          <p><%=  intro.content %><br> </p>
          
    <% end %>

    <div class="col s3">

    </div>
    </div>
</div>
</ul>

