

<p>
<form action="/sign-up" method="post">
<tr><input type="integer" name="username" placeholder="username"></tr>
<tr><input type="password" name="password" placeholder="password"></tr>
<tr><input type="integer" name="birthday" placeholder="Enter B-Day"></tr>
<tr><input type="text" name="email" placeholder="Enter your Email-address"></tr>
<tr><input type="submit" value="go"></tr>
</form>
</p>

