

<div class="container">
    <table>
        <div class="form">
            <h3>Sign-up</h3>
<form action="/sign-up" method="post">
<tr><input type="text" name="username" placeholder="username"></tr>
<tr><input type="text" name="firstname" placeholder="First Name"></tr>
<tr><input type="text" name="lastname" placeholder="Last Name"></tr>
<tr><input type="password" name="password" placeholder="password"></tr>
<tr><input type="date" name="birthday" placeholder="Enter B-Day"></tr>
<tr><input type="text" name="email" placeholder="Enter your Email-address"></tr>
<tr><input type="submit" value="go"></tr>
</form>
        </div>
    </table>
</div>

