body {
    background-image: url("images/dino.jpg");
    background-color: rgb(124, 110, 201);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: white
}

.nav {
    background-color: black;
}

text {
    color: white;
}

.container {
    width: 200px;
    background-color: white;
}