body {
    background-image: url("human.jpg");
    background-color: rgb(130, 129, 138);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.line {
    background-color: white;
    border: 15px;
}

p {
    color: white
}

.nav {
    background-color: black;
}

text {
    color: white;
}

.container {
    width: 200px;
    background-color: white;
}